@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #splash-screen h1 {
    font-size: 3rem;
  }

  #splash-screen p {
    font-size: 1.8rem;
  }

  .header {
    padding: 1rem 1.5rem;
    padding-right: 2rem;
  }

  .nav-menu li {
    font-size: 2rem;
  }
  .hero-text-wrap {
    padding: 20rem 3rem 5rem 3rem;
  }
  .hero-header {
    width: 60%;
  }
  .hero-p {
    width: 85%;
  }
  .log-in-dropdown {
    right: 5rem;
  }

  .sign-up-dropdown {
    right: 0rem;
  }
}
@media (max-width: 480px) {
}
