@media (min-width: 768px) {
  html {
    font-size: 62%;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: auto;
    left: auto;
    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}
