@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  #splash-screen {
    /* background-image: url("../imgs/tools-img/screwdrill.png");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  #splash-screen h1 {
    /* position: absolute; */
    bottom: 3rem;
    font-size: 3rem;
    /* color: #333;
    z-index: 999; */
  }

  #splash-screen p {
    font-size: 1.8rem;
    /* color: #333; */
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
    gap: 3rem;

    background: none;
    padding-top: 10rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .nav-menu li {
    padding-left: 1rem;
    list-style: none;
    margin-bottom: 1rem;
    font-weight: 600;
    width: 22rem;
  }

  .auth-dropdowns {
    margin-right: 5rem;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    cursor: pointer;

    position: absolute;
    right: 3rem;
    border: solid 1px #fff;
    overflow: hidden;
  }

  .hamburger span {
    width: 20px;
    height: 2px;
    background-color: #333;
    /* border: none; */
    /* background-color: #fff; */
  }

  .header {
    padding: 1rem 1.5rem;
    padding-right: 2rem;
  }

  .nav-menu li {
    font-size: 2rem;
  }
  .hero-text-wrap {
    padding: 20rem 3rem 5rem 3rem;
  }
  .hero-header {
    width: 60%;
  }
  .hero-p {
    width: 90%;
  }
  .log-in-dropdown {
    right: 5rem;
  }

  .sign-up-dropdown {
    right: 1rem;
  }
  .cta {
    padding-top: 7rem;
  }
  .heading-secondary {
    font-weight: 700;
  }
  .choose-img {
    width: 80%;
    margin: 0 auto;
  }
  .choose {
    grid-template-columns: 1fr;
  }
  .choice {
    padding-top: 3rem;
    align-items: center;
  }
  .as-a-vendor,
  .as-a-customer {
    margin: 0 auto;
    font-size: 1.8rem;
    width: 30rem;
    border-radius: 200px;
    padding: 1rem 4.8rem;
    text-align: center;
  }
  .serv-container {
    row-gap: 7rem;
  }

  .navbar {
    flex-direction: column;
    padding-bottom: 12rem;
    padding-top: 3rem;
  }
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .dropdown {
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #444;
  }
  .dropdown-toggle {
    border-bottom: 1px solid #868e96;
  }
  .dropdown li {
    padding: 5px 20px;
  }

  .dropdown a {
    color: #ccc;
    display: block;
  }
  .social-link {
    max-width: 15rem;
  }
  .socialss {
    position: absolute;
    bottom: 5.5rem;
    left: 3rem;
  }

  .copyright {
  }
}
@media (max-width: 480px) {
}
