* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 83.4%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", cursive;
}

.body {
}
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header,
.start-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  /* background-color: #2f9e44; */
  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav-menu li {
  font-size: 1.4rem;
  font-weight: 600;
}
.nav-menu a {
  color: #333;
  text-decoration: none;
}
.auth-dropdowns {
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.log-in,
.sign-up {
  /* background-color: #444; */
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;

  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 200px;
  position: relative;
}

.log-in:hover,
.sign-up:hover {
}

.log-in-dropdown,
.sign-up-dropdown {
  font-size: 1.8rem;
  display: none;
  position: absolute;
  top: 6rem;
  right: 5rem;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 0.5rem;
}

.log-in-dropdown a,
.sign-up-dropdown a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.7rem;
}
.sign-up-dropdown {
  right: 0rem;
}

.hamburger.active {
  height: 18.5px;
}
.hamburger.active .hamburger-top {
  transform: rotate(45deg) translate(5px, 5px);
  z-index: 3;
}

.hamburger.active .hamburger-middle {
  opacity: 0;
}

.hamburger.active .hamburger-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
  z-index: 3;
}

.nav-menu.active {
  display: block;
}

.log-in-dropdown.active,
.sign-up-dropdown.active {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

/* HERO SECTION */
.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("../imgs/bg-img-2.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text-wrap {
  padding: 30rem 10rem 6rem 10rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* align-items: center; */
}
.hero-header {
  font-size: 4rem;
  font-weight: 700;
  width: 40%;
}
.hero-p {
  font-size: 1.8rem;
  width: 50%;
}
.hero-btn {
  font-size: 2rem;
  font-weight: 600;
  border: 3px solid #fff;
  border-radius: 9px;
  background: transparent;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 1rem 3rem;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  /* z-index: 1; */
}
.hero-btn:hover {
  border: #2f9e44;

  background-color: #2f9e44;

  color: #fff;
  font-weight: 700;
}
.hero-btn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -30px;
  width: 0;
  height: 100%;
  background-color: #fff;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 0.5s;
}
.hero-btn:hover::before {
  width: 130%;
}
/* start styles */
.start-body {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.bth {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
}
.cta {
  padding-top: 10rem;
}
.cta-textbox {
}
.start-main {
  height: 90vh;
}
.right-arrow {
  font-weight: 700;
  /* font-size: 2rem; */
}
.heading-secondary {
  font-size: 3rem;
  padding-bottom: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.choose {
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.choose-img {
  padding-left: 4rem;
  width: 30%;
  transition: transform 0.3s ease;
}

.choose-img:hover {
  transform: scale(1.1);
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  /* padding-top: 10rem; */
}
.as-a-vendor,
.as-a-customer {
  width: 25rem;
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  padding: 1rem 4.4rem;
}
.as-a-vendor:hover,
.as-a-customer:hover {
}
.as-a-vendor::before,
.as-a-customer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -30px;
  width: 0;
  height: 100%;
  background-color: #2f9e44;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 0.5s;
}
.as-a-vendor:hover::before,
.as-a-customer:hover::before {
  width: 130%;
}

/* service-sec */
.service-sec {
  margin: 9rem auto;
  max-width: 130rem;
}
.serv-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  gap: 5rem;
  row-gap: 15rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img {
  width: 90%;

  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.step-img:hover {
  filter: grayscale(0);
}
.step-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step-number {
  font-size: 4rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 2rem;
}

.subhead {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.step-description {
  font-size: 1.3rem;
  line-height: 1.8;
}
/* fAQ */
.faq {
  padding: 10rem 2rem;
}
.faq-h {
  margin-bottom: 4rem;
}
.fr-cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fr-q {
  border-top: 0.7px solid #ccc;
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}
.fr-q-q {
  /* width: 50%; */
  font-size: 1.3rem;
  width: 70%;
  /* font-weight: 520; */
}
.fr-q-a {
  width: 100%;
}
/* BENEFIT SECTION */
.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: none;
  margin-bottom: 10rem;
}

.lottie-container {
  overflow-y: hidden;
  transition: transform 0.5s ease;
}
.lottie-container:hover {
  transform: scale(1.25);
}
.benefits-lists {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.5rem;
  line-height: 1.4;
}
.b-w {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: start; */
  text-align: center;
  /* max-width: 550px; */
}
.benefit-opt {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  gap: 0.5rem;
}
.benefit-opt:hover {
  transform: translateY(-2px);
}
.benefit-opt ion-icon:hover {
  color: #2f9e44;
}
.b-w p {
  font-size: 1.3rem;
  max-width: 60%;
}
.check-icon {
  width: 1.5rem;
  height: 1.5rem;
}
/* footer */
.footer {
}
.navbar {
  background-color: #333;
  padding: 1rem 1rem 5rem 1rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  position: relative;
}
.nav-item a {
  color: #fff;
  padding: 10px;
  display: block;
}
.dropdown {
  list-style: none;
}
.dropdown a {
  text-decoration: none;
  font-size: 1.2rem;
}
.dropdown-toggle {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}
.social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.social-icon {
  font-size: 2rem;
  color: #fff;
}
.follow {
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;

  position: absolute;
  bottom: 4rem;
  left: 40%;
}
.signature {
  color: #fff;
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
  bottom: 1rem;
  left: 45%;
}
.signature a {
  color: #fff;
  text-decoration: none;
}
