* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 83.4%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", cursive;
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  z-index: 1000;
}
#splash-screen-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
#splash-screen h1 {
  font-size: 6rem;
}

#splash-screen p {
  font-size: 3rem;
}

.body {
}
.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("../imgs/background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #333; */
  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 50px;
  height: 50px;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-menu li {
  list-style: none;
  margin-bottom: 1rem;
  font-weight: 500;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
}

.auth-dropdowns {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  animation: dropdown 0.4s ease;
}

.log-in,
.sign-up {
  /* background-color: #444; */
  color: #333;

  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 200px;
}
.log-in-dropdown,
.sign-up-dropdown {
  display: none;
  position: absolute;
  top: 10rem;
  right: 0;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 0.5rem;
  animation: dropdown 0.5s ease;
}

.log-in-dropdown a,
.sign-up-dropdown a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.hamburger.active {
  height: 18.5px;
}
.hamburger.active .hamburger-top {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .hamburger-middle {
  opacity: 0;
}

.hamburger.active .hamburger-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-menu.active {
  display: block;
}

.log-in-dropdown.active,
.sign-up-dropdown.active {
  display: flex;
  flex-direction: column;
}
