* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 83.4%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", cursive;
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  z-index: 1000;
}
#splash-screen-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
#splash-screen h1 {
  font-size: 6rem;
}

#splash-screen p {
  font-size: 3rem;
}

.body {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #40c057;
  /* height: 7rem; */
  padding: 2rem 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
}
.sign-up:link,
.sign-up:visited,
.log-in:link,
.log-in:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 200px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.sign-up:link,
.sign-up:visited {
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 200px;
}
.log-in:hover,
.log-in:active,
.sign-up:hover,
.sign-up:active {
  color: #000;
  background-color: #ffffff86;
}
.left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.hamburger {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.nav-menu {
}
.nav-menu li {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
}

/* Blur background styles */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Animation styles */
.animate {
  animation: dropdown 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
